In [ ]:
#A/B Test 1: Impact of Physical Activity on Sleep Duration
Hypothesis:

Null Hypothesis (H0): There is no difference in sleep duration between individuals with high physical activity levels and those with low physical activity levels.
Alternative Hypothesis (H1): Individuals with high physical activity levels have a significantly different sleep duration compared to those with low physical activity levels.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
!pip install scipy
from scipy import stats
from scipy.stats import ttest_ind

In [18]:
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [19]:
df.head()

,PersonID,Gender,Age,Occupation,SleepDuration,QualityofSleep,PhysicalActivityLevel,StressLevel,BMICategory,BloodPressure,HeartRate,DailySteps,SleepDisorder,MentalHealth
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,Medium
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Low
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Low
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Low
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Low

In [ ]:
#Removing needles MentalHealth column & SleepDisorder NaN updating

df = df.drop('MentalHealth', axis=1)
df.fillna('None', inplace = True)

In [35]:
#Duplicates checking

df.duplicated(subset='PersonID').sum()

0

In [ ]:
#To perform Test PhysicalActivityLevel need to be converted into two categories: Low&High

In [9]:
# Max & min value
maxPhysicalActivityLevel = df['PhysicalActivityLevel'].max()
minPhysicalActivityLevel = df['PhysicalActivityLevel'].min()

print(maxPhysicalActivityLevel, minPhysicalActivityLevel)

90 30

In [ ]:
#Testing Group

In [16]:
def CategorizeActivityLevel(activityLevel):
    if 30 <= activityLevel < 45:
        return 'Low'
    else:
        return 'High'

df['ActivityLevelCategory'] = df['PhysicalActivityLevel'].apply(CategorizeActivityLevel)

In [11]:
df_cat = df[['SleepDuration', 'ActivityLevelCategory']]
df_cat.head()

   SleepDuration ActivityLevelCategory
0            6.1                   Low
1            6.2                  High
2            6.2                  High
3            5.9                   Low
4            5.9                   Low

In [13]:
df_cat.nunique()

SleepDuration            27
ActivityLevelCategory     2
dtype: int64

In [14]:
for i in df_cat.columns:
    print(i.upper(), ":",  df_cat[i].unique())

SLEEPDURATION : [6.1 6.2 5.9 6.3 7.8 6.  6.5 7.6 7.7 7.9 6.4 7.5 7.2 5.8 6.7 7.3 7.4 7.1
 6.6 6.9 8.  6.8 8.1 8.3 8.5 8.4 8.2]
ACTIVITYLEVELCATEGORY : ['Low' 'High']

In [39]:

lowActivityGroup = df_cat[df_cat['ActivityLevelCategory'] == 'Low']['SleepDuration']
highActivityGroup = df_cat[df_cat['ActivityLevelCategory'] == 'High']['SleepDuration']

t_statistic, p_value = stats.ttest_ind(lowActivityGroup, highActivityGroup)

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("There is a significant difference in sleep duration between high and low physical activity levels groups.")
else:
    print("There is no significant difference in sleep duration between high and low physical activity levels groups.")

T-Statistic: -1.1362671123093353
P-Value: 0.2565762513004666
There is no significant difference in sleep duration between high and low physical activity levels groups.