In [ ]:
#A/B Test 2: How stress affects sleep quality

Hypothesis:

Null Hypothesis (H0): High stress level significantly affects sleep quality. Those who stress less have better quality of sleep than those who are more stressed. 
Alternative Hypothesis (H1): Stress does not affect sleep quality.There is no significant difference in quality of sleep between the two groups.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
!pip install scipy
from scipy import stats
from scipy.stats import ttest_ind

Requirement already satisfied: scipy in c:\users\aleks\appdata\local\programs\python\python312\lib\site-packages (1.14.0)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\aleks\appdata\local\programs\python\python312\lib\site-packages (from scipy) (1.26.1)

[notice] A new release of pip is available: 23.2.1 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [4]:
df.head()

,PersonID,Gender,Age,Occupation,SleepDuration,QualityofSleep,PhysicalActivityLevel,StressLevel,BMICategory,BloodPressure,HeartRate,DailySteps,SleepDisorder,MentalHealth
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,Medium
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Low
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Low
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Low
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Low

In [5]:
#Removing needles MentalHealth column & SleepDisorder NaN updating

df = df.drop('MentalHealth', axis=1)
df.fillna('None', inplace = True)

In [6]:
#Duplicates checking

df.duplicated(subset='PersonID').sum()

0

In [ ]:
#To perform Test StressLevel need to be converted into two categories: Low&High

In [8]:
# Max & min value
maxStressLevel = df['StressLevel'].max()
minStressLevel = df['StressLevel'].min()

print(minStressLevel, maxStressLevel)

3 8

In [ ]:
#Testing Group

In [10]:
def CategorizeStressLevel(StressLevel):
    if 3 <= StressLevel < 5:
        return 'Low'
    else:
        return 'High'

df['StressLevelCategory'] = df['StressLevel'].apply(CategorizeStressLevel)

In [17]:
df_cat = df[['QualityofSleep', 'StressLevelCategory']]
df_cat.head()

   QualityofSleep StressLevelCategory
0               6                High
1               6                High
2               6                High
3               4                High
4               4                High

In [19]:

lowStressGroup = df_cat[df_cat['StressLevelCategory'] == 'Low']['QualityofSleep']
highStressGroup = df_cat[df_cat['StressLevelCategory'] == 'High']['QualityofSleep']

t_statistic, p_value = stats.ttest_ind(lowStressGroup, highStressGroup)

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("There is a significant difference in sleep quality between those who stress more and those who stress less.")
else:
    print("There is no significant difference in sleep quality between those who stress more and those who stress less.")

T-Statistic: 16.92177669267156
P-Value: 4.8317346909074696e-48
There is a significant difference in sleep quality between those who stress more and those stress less.